// Color Variables
$primary-color: #646cff;
$primary-hover-color: #535bf2;
$secondary-color: rgba(255, 255, 255, 0.87);
$background-color-dark: #242424;
$background-color-light: #ffffff;
$border-color: #333c44;
$button-bg-color-dark: #1a1a1a;
$button-bg-color-light: #f9f9f9;
$button-bg-color-hover: #2a2a2a;
$focus-outline-color: -webkit-focus-ring-color;

// Typography Variables
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$line-height: 1.5;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
