.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #242424;
	text-align: center;
	font-size: 0.7rem;
	border-top: 1px solid #333c44;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@media (min-width: 768px) {
		font-size: 1rem;

		&__content {
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
