.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #333c44;

	&__logo a {
		font-size: 1.3rem;
		padding: 1rem;
		font-weight: bold;
		text-decoration: none;
	}
}
