.navbar {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 0;
	z-index: 1000;

	&__menuContainer {
		width: max-content;

		display: flex;
		gap: 0.5rem;
		padding: 1rem 2rem;
		border-radius: 50px;
		border: 1px solid #4a6197;
		background-color: #2f4260;

		&__menuItem {
			padding: 0.6rem 1.8rem;
			border-radius: 20px;
			color: #fff;

			text-decoration: none;
			transition: all 0.3s ease-in-out;

			&--special {
				border: 1px solid #4a6197;
				border-radius: 50px;
				// margin-left: 1rem;
			}

			&:hover {
				box-shadow: 0 0 10px rgba(34, 35, 56, 0.2);
				background-color: #5257646b;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}
